@import 'styles/variables.scss';

.input {
  width: 100%;
  border-radius: 0.2857rem;
  border: 0.0714rem solid $light;
  padding: 0.9643rem;
  
  &::placeholder {
    font-family: Montserrat, Arial, sans-serif;
    color: $light;
  }
  
  &:hover,
  &:focus {
    border: 0.0714rem solid $main;
    outline: none;

    &::placeholder {
      color: $main;
    }
  }
}


